<!DOCTYPE html>
<html lang="en">
 <%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>
  <main>

   
    <img class="notentry" src="/images/not-entry.jpg" width="60%">



  </main>
  <%- include('./partials/footer') %>
</body>

</html>