<footer>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure a laboriosam error vero optio cupiditate ipsum dolores eius. Placeat ad beatae iusto illo ducimus, doloremque fugiat! Totam beatae voluptatem est?</p>
</footer>