<header>
    <h1><%= title %> </h1>
    <nav>
        <a class="izquierda" href="/admin">Admin</a>
        <a class="derecha" href="/products">Products</a>
        <a class="centro"href="/index">Home</a>
        <a class="izquierda" href="register">Register</a>
       <a class="derecha" href=" /login">Login</a>
    
    </nav>
    <h2>Lorem ipsum dolor sit amet consectetur</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat numquam praesentium mollitia dolorum rem voluptate error accusantium sint labore deserunt.</p>
</header>
    
